<html>
    <form action='/adm/checkadminlogin' method='post'>
    <table border=3>

    <caption><h3>Admin Login</h3></caption>
     <tr>
         <td><b><i>Admin Id:&nbsp;&nbsp;</i></b></td>
         <td><input type='text' name='adminid'></td> 
    </tr>

    <tr>
        <td><b><i>Password:&nbsp;&nbsp;</i></b></td>
        <td><input type='password' name='password'></td>
    </tr>
    </table>
    <input type='submit' value='Login'>
    </form>
    <%=msg%>
</html>