<html>
    <h3>Admin Id:<%=data.adminid %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <font color='green'><%=data.adminname %></font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src='/images/<%=data.picture%>' width='25' height='25'></h3>
        <hr color='red'>
<table>
<tr>
    <td valign='top'>
    <a target='mw' href='/services/supplierinterface'>Add Products</a><br>
    <a target='mw' href='/services/displayall'>All Products</a><br>
    <a target='mw' href='/services/logout'>Logout</a><br>
   </td>    
<td>
<iframe width='700' height='700' name='mw' frameborder='0'>

</iframe>

</td>
</tr>

</table>

</html>